/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo de secciones */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

section h2 {
    color: #333;
    font-size: 24px;
}

/* Estilo de enlaces */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Estilo de pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Estilo de imágenes (ejemplo) */
img {
    max-width: 100%;
    height: auto;
}

/* Estilo de lista (ejemplo) */
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Estilo de bloques de citas (ejemplo) */
blockquote {
    font-style: italic;
    border-left: 3px solid #007BFF;
    padding-left: 10px;
}
